pipeline/PL_ADF Assignment_3.json
{
	"name": "PL_ADF Assignment_3",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dt_azure_sql_server_generic",
						"type": "DatasetReference",
						"parameters": {
							"Schema": {
								"value": "@pipeline().parameters.Lookup_Schema",
								"type": "Expression"
							},
							"Table_Name": {
								"value": "@pipeline().parameters.Lookup_Table_Name",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"batchCount": 2,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().Indicator,'Y')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy data1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobStorageWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "dt_azure_sql_server_generic",
												"type": "DatasetReference",
												"parameters": {
													"Schema": {
														"value": "@item().table_schema",
														"type": "Expression"
													},
													"Table_Name": {
														"value": "@item().table_name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "dt_csv_Generic_for_Target_without_header",
												"type": "DatasetReference",
												"parameters": {
													"Directory_Name": {
														"value": "@pipeline().parameters.Target_Directory_Name",
														"type": "Expression"
													},
													"Container_Name": {
														"value": "@pipeline().parameters.Target_Container_Name",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Target_Directory_Name": {
				"type": "string",
				"defaultValue": "ADF_ASSIGNMENT_3_TARGET_FOLDER"
			},
			"Target_Container_Name": {
				"type": "string",
				"defaultValue": "sa-iris-assignment"
			},
			"Lookup_Schema": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"Lookup_Table_Name": {
				"type": "string",
				"defaultValue": "tables_need_to_load_details"
			}
		},
		"folder": {
			"name": "PL_IRIS_ASSIGNMENT"
		},
		"annotations": [],
		"lastPublishTime": "2021-12-01T16:56:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}