pipeline/PL_ADF_Assignment_6_SCD_1.json
{
	"name": "PL_ADF_Assignment_6_SCD_1",
	"properties": {
		"activities": [
			{
				"name": "Old_Watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT waterMarkVal\nFROM [dbo].[WaterMark]\nWHERE tableName = 'Student'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dt_azure_sql_server_generic",
						"type": "DatasetReference",
						"parameters": {
							"Schema": {
								"value": "@pipeline().parameters.Watermark_Schema",
								"type": "Expression"
							},
							"Table_Name": {
								"value": "@pipeline().parameters.Watermark_Table_Name",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Latest_Watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT MAX(updateDate) AS NewwaterMarkVal\nFROM dbo.student",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dt_azure_sql_server_generic",
						"type": "DatasetReference",
						"parameters": {
							"Schema": {
								"value": "@pipeline().parameters.Watermark_Schema",
								"type": "Expression"
							},
							"Table_Name": {
								"value": "@pipeline().parameters.Watermark_Table_Name",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Old_Watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Latest_Watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from dbo.student\nwhere updateDate> \n'@{activity('Old_Watermark').output.firstRow.waterMarkVal}' \nand updateDate<= \n'@{activity('Latest_Watermark').output.firstRow.NewwaterMarkVal}'\n\n\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE stgStudent",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "dt_azure_sql_server_generic",
						"type": "DatasetReference",
						"parameters": {
							"Schema": {
								"value": "@pipeline().parameters.Watermark_Schema",
								"type": "Expression"
							},
							"Table_Name": {
								"value": "@pipeline().parameters.Watermark_Table_Name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "dt_azure_sql_server_generic",
						"type": "DatasetReference",
						"parameters": {
							"Schema": {
								"value": "@pipeline().parameters.stg_Table_Schema",
								"type": "Expression"
							},
							"Table_Name": {
								"value": "@pipeline().parameters.stg_Table_Name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Target table insert update Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_upsert_Student]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "watermark Update Stored procedure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Target table insert update Stored procedure1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_write_watermark]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@{activity('Latest_Watermark').output.firstRow.NewwaterMarkVal}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": "Student",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Status update Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "watermark Update Stored procedure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_pipeline_run_Status]",
					"storedProcedureParameters": {
						"DataFactory": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"GroupId": {
							"value": {
								"value": "@pipeline().GroupId",
								"type": "Expression"
							},
							"type": "String"
						},
						"jobid": {
							"value": {
								"value": "2",
								"type": "Expression"
							},
							"type": "String"
						},
						"jobname": {
							"value": {
								"value": "'SCD_1_job'",
								"type": "Expression"
							},
							"type": "String"
						},
						"Pipeline": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggeredByPipelineName": {
							"value": {
								"value": "@pipeline()?.TriggeredByPipelineName",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggeredByPipelineRunId": {
							"value": {
								"value": "@pipeline()?.TriggeredByPipelineRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerId": {
							"value": {
								"value": "@pipeline().TriggerId",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerType": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"Watermark_Schema": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"Watermark_Table_Name": {
				"type": "string",
				"defaultValue": "WaterMark"
			},
			"stg_Table_Schema": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"stg_Table_Name": {
				"type": "string",
				"defaultValue": "stgStudent"
			},
			"Target_Table_Schema": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"Target_Table_Name": {
				"type": "string",
				"defaultValue": "Student"
			}
		},
		"folder": {
			"name": "PL_IRIS_ASSIGNMENT"
		},
		"annotations": [],
		"lastPublishTime": "2021-12-01T13:49:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}