pipeline/Ple_Qn_9_Ashishkumarj.json
{
	"name": "Ple_Qn_9_Ashishkumarj",
	"properties": {
		"activities": [
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "Question_9_dataflow",
						"type": "DataFlowReference",
						"datasetParameters": {
							"source1": {
								"Directory_Name": "Question_9_SOurce_Folder",
								"File_Name_Pattern": "question_9_Source_file.csv",
								"Container_Name": "sa-iris-assignment"
							},
							"sink1": {
								"Directory_Name": "Question_9_Target_Folder",
								"Container_Name": "sa-iris-assignment"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Data flow1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "dt_csv_Generic_for_Target_with_header",
						"type": "DatasetReference",
						"parameters": {
							"Directory_Name": "Question_9_Target_Folder",
							"Container_Name": "sa-iris-assignment"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": "Question_9_Target_Folder",
										"wildcardFileName": "*",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "dt_csv_Generic_for_Source_with_header",
									"type": "DatasetReference",
									"parameters": {
										"Directory_Name": "Question_9_Target_Folder",
										"File_Name_Pattern": {
											"value": "@item().name",
											"type": "Expression"
										},
										"Container_Name": "sa-iris-assignment"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dt_csv_Generic_for_Source_with_header",
									"type": "DatasetReference",
									"parameters": {
										"Directory_Name": "Question_9_Final_Target",
										"File_Name_Pattern": "@item().name",
										"Container_Name": "sa-iris-assignment"
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "Assignment"
		},
		"annotations": [],
		"lastPublishTime": "2021-12-01T17:23:50Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}