pipeline/Ple_Qn_11_Ashishkumarj.json
{
	"name": "Ple_Qn_11_Ashishkumarj",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "pipeline_Name",
								"value": {
									"value": "@variables('pipeline_Name')",
									"type": "Expression"
								}
							}
						],
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Month",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "Month",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "Indicator",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Indicator",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "pipeline_Name"
								},
								"sink": {
									"name": "pipeline_name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "dt_azure_sql_server_generic",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "dbo",
							"Table_Name": "Loan_Indicator"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "dt_azure_sql_server_generic",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "dbo",
							"Table_Name": "question_11_output"
						}
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipeline_Name",
					"value": {
						"value": "@pipeline().Pipeline",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"pipeline_Name": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Assignment"
		},
		"annotations": [],
		"lastPublishTime": "2021-12-01T17:32:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}